<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Automation Demo Test" verbose="1" >
    <parameter name="config-file" value="src/test/resources/config.properties" />
    <test name="Demo" >
        <classes>
            <class name="selenium.testng.tests.DemoTest" />
        </classes>
    </test>

</suite>
